body{
  image-rendering: pixelated;
  font-family: monospace;
  font-size: 16px;
  overflow: hidden;
  background-color: rgb(42, 13, 49);
}

p {
  width: 100%;
  text-align: center;
  color: black;
  margin: 6px;
  font-size: 1.2vw;
}

h2{
  font-family: 'Outfit';
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 12px;
}

a{
  color: rgb(61, 61, 224);
  text-decoration: none;
}

.stat{
  width: 30%;
  padding: 0px;
  padding-top: 30%;
  position: absolute;
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, .15);
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  overflow: hidden;
  z-index: 3;
}

#background {
  transition: top 600ms;
}

#mainBody{
  transition: top 600ms;
}

#lowerBody{
  transition: top 600ms;
}

.stat p{
  position: absolute;
}

.sansSerif {
  font-family: "Outfit";
  color: white;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  background-color: rgba(20, 20, 60, 0.4)
}

.digit {
  font-family: "Outfit";
  color: white;
  position: absolute;
  top: 2vw;
  left: -6px;
  width: 100%;
  text-align: center;
  font-size: 8vw;
}

.showcase{
  width: 30%;
  height: 30%;
  position: absolute;
  /* overflow: hidden; */
  background-color: red;
  border-radius: 5px;
}

.showcaseImage {
  border-radius: 8px;
  width: 30vw;
  height: 20vw;
  position: absolute;
}

.showcaseTitle {
  font-family: "Outfit";
  margin: 0px;
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 90%;
}